canvas {
    border: 1px solid #000000;
}

button {
    width:200px;
    height:50px;
}

.slot{
    display:table-cell;
    border:1px solid black;
    width:100px;
    height:100px;
}

.row{
    display: table-row;
}

#map {
    width: 400px;
    height: 400px;
}

#rasterMap {
    width: 400px;
    height: 400px;
}

#puzzle-container{
    display: table;
    width:400px;
}

