div{
    width:345px;
    margin:5px;
    padding:5px;
}

input{
    height:25px;
    border:none;
}

.checkbox{
    width:18px;
    height:18px;
    vertical-align: middle;
}

.searchbar{
    width:400px;
}

.deleteButton{
    background-color: red;
    border-radius: 7px;
    border-color: red;
    color:white;
    width:30px;
    height:30px;
    vertical-align: middle;
    font-size:24px;
}

.visibleInput{
    border:1px;
    border:solid;
    border-radius:10px;
    border-color:rgb(170, 170, 170);
}

.dodaj{
    width:70px;
    height:30px;
}

.task{
    border: solid;
    border-radius:15px;
    border-color:rgb(255, 36, 36);
}

.completedTask{
    border-color:rgb(187, 187, 187);
}